@import vars
@import fonts
@import libs

::placeholder
	color: #666

::selection
	background-color: $accent
	color: #fff

input, textarea
	outline: none
	&:focus:required:invalid
		border-color: red
	&:required:valid
		border-color: green

body
	font-size: 14px
	min-width: 375px
	position: relative
	line-height: 1.65
	font-family: 'Roboto', sans-serif
	overflow-x: hidden
	color: $colorWhite
	margin: 0 auto
	display: grid
	grid-template-rows: repeat(3, auto)


.maxWidth
	max-width: 1440px
	margin: 0 auto
	padding: 0 78px
// Custom Sass / Remove before use

header
	background: url("../img/_src/bg-curvy-desktop.svg") no-repeat bottom center
	background-size: contain
	background-color: $colorDarkBlueIntro
	padding-bottom: 160px
	.maxWidth
		display: grid
		margin:
			top: 70px
		.headerFix
			display: grid
			grid-template-columns: repeat(2, 1fr)
			margin-bottom: 74px
			.menu ul
				display: flex
				list-style: none
				justify-content: flex-end
				li
					padding-right: 55px
		.headerIntro
			display: grid
			grid-template-columns: minmax(auto, 700px)
			grid-row-gap: 40px
			justify-content: center
			text-align: center
			img
				width: 100%
				height: auto
			h1
				font-size: 2.5rem
			button
				width: 280px
				background-color: $colorAccentBlue
				border: none
				border-radius: 40px
				padding: 22px
				color: $colorWhite
				font-weight: bold
				justify-self: center
				&:hover
					background-color: $colorAccentCyan
					transition: all .3s ease-in

main
	background-color: $colorDarkBlueMain
	display: grid
	grid-template-rows: repeat(3, auto)
	grid-row-gap: 130px
	justify-items: center
	.mainBlock
		display: grid
		grid-template-columns: repeat(2, minmax(auto, 360px))
		text-align: center
		grid-row-gap: 90px
		grid-column-gap: 130px
		.item1
			display: grid
			grid-row-gap: 30px
			justify-items: center
			&:hover
				transform: scale(1.2)

	.productive
		display: grid
		grid-template-columns: repeat(2, minmax(auto, 550px))
		grid-column-gap: 50px
		.blockProd1 img
			width: 100%
			height: auto
			margin: 0 auto
		.blockProd2
			align-self: center
		h2
			max-width: 340px
			font-size: 2rem
		a
			color: $colorAccentCyan
			border-bottom: 1px $colorAccentCyan solid
			&:hover
				color: $colorAccentBlue
				text-decoration: none
				border-bottom: 1px $colorAccentBlue solid
	.mainComment
		display: grid
		grid-template-columns: repeat(3, 360px)
		grid-column-gap: 40px
		article
			background: $colorDarkBlueTM
			padding: 45px 27px 27px
			img
				width: 27px
				border-radius: 50%

footer
	background-color: $colorDarkBlueFooter

//.container
//	max-width: 700px
//	padding:
//		right: $gutter/2
//		left: $gutter/2
//	margin:
//		left: auto
//		right: auto
//
//.img-responsive
//	display: block
//	max-width: 100%
//	height: auto
//
//.example-grid
//	display: grid
//	grid-gap: $gutter
//	grid-template-columns: 1fr 1fr
//	grid-template-areas: "left right"
//	> div:first-child
//		grid-area: left
//	> div:last-child
//		grid-area: right
//	+media-breakpoint-down(xs)
//		display: block
//		> div
//			padding: $gutter/2 0


.parent // Lazy Load Placeholder Generator: https://webdesign-master.ru/services/lazy/
	background-image: url(data:image/gif;base64,R0lGODlhCgAIAIABAN3d3f///yH5BAEAAAEALAAAAAAKAAgAAAINjAOnyJv2oJOrVXrzKQA7)
